<div class="container">
  <div class="menu">
    <img src="./assets/image.png" alt="Description of the image" class="myimage">
    <span class="spn">Picture Perfect</span>
    <button class="upload-button" routerLink="/main">
    <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px;"></i> Save changes
    </button>
  </div>
  <div class="content">
  <div class="sidebar">
    <button (click)="toggleCropMode()">
      <i class="pi pi-pencil" style="font-size: 1rem; margin-right: 5px;"></i>Crop
    </button>
    <button (click)="compressFile()">
      <i class="pi pi-images" style="font-size: 1rem; margin-right: 5px;"></i>Resize
    </button>
    <button (click)="toggleZoomMode()" >
      <i class="pi pi-search-plus" style="font-size: 1rem; margin-right: 5px;"></i>Zoom
    </button>
    
    <button >
      <i class="pi pi-replay" style="font-size: 1rem; margin-right: 5px;"></i>Rotate Left
    </button>
    <button>
      <i class="pi pi-refresh" style="font-size: 1rem; margin-right: 5px;"></i>Rotate Right
    </button>
    </div>
    <div class="gallery">

      
  <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" />

      
      <lib-ngx-image-zoom class="image"
      [thumbImage]="galleryImageUrl"
      [magnification]="10"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="100"
      [lensHeight]="100"
      [circularLens]="true"
      *ngIf="inZoomMode && !inCropMode"
      ></lib-ngx-image-zoom>

      <img [src]=galleryImageUrl alt="Description of the image" class="image" *ngIf="!inCropMode && !inZoomMode">
           
      
      <image-cropper class="image"
        [imageURL]="galleryImageUrl"
        [maintainAspectRatio]="true"
        
        format="png"
        (imageCropped)="cropImg($event)"
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()"
        (loadImageFailed)="imgFailed()"
        *ngIf="inCropMode && !inZoomMode"
      ></image-cropper>
    </div>
    <div>


<img [src]="cropImgPreview" *ngIf="inCropMode" />
    </div>
    
  </div>  
  
  
  </div>

 
  
