button {
    background-color:darkorchid;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 27px;
    transform: translateY(80%);
    font-family: Georgia, serif;
    font-weight: bold;
  }
  p{
    transform: translateY(30%);

  }
  
  button:hover {
    background-color:#be6ef0 ;
  }
  span{
    color: #D1AE0F;
  }